* {
  font-family: 'Raleway', sans-serif;
}

.d-none {
  display: none;
}

.login {
  width: 80%;
  max-width: 400px;
  margin: auto;

  background: #e6e6e6;
  padding: 20px 15px;
  border-radius: 3px;
}

.heading {
  margin: 10px 0px;
}

.input-text {
  outline: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
}

.input-button {
  background: #00897b;
  color: #fff;
  font-size: 15px;
  border: 1px solid #00897b;
  border-radius: 3px;
  padding: 6px 20px;

  outline: none;
  cursor: pointer;  
}

.input-button:hover {
  background-color: #00695c;
}

.align-right {
  text-align: right;
}

.p-t-100 {
  padding-top: 100px;
}

.m-t-100 {
  margin-top: 100px;
}

.col {
  display: inline-block;
  padding: 5px;
}

.w-50 {
  width: 50%;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
  box-sizing: border-box;
}